body {
    background-color: #FAFAFA;
    color: #111827;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
}
h1 {
    color: #4F46E5;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
p {
    font-size: 1.25rem;
    margin-top: 0;
}
.status {
    color: #6B7280;
    margin-top: 2rem;
    font-size: 1rem;
}
